<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>440960456561-ujlmt6jk202e1l4nghh29dn7t3vh9ek9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.440960456561-ujlmt6jk202e1l4nghh29dn7t3vh9ek9</string>
	<key>API_KEY</key>
	<string>AIzaSyCVc2psxqFjP9wcAUBsFxnuAoie-UdS8hw</string>
	<key>GCM_SENDER_ID</key>
	<string>440960456561</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>pt.myshoppinglist.test</string>
	<key>PROJECT_ID</key>
	<string>my-shopping-list-dev-9c3c9</string>
	<key>STORAGE_BUCKET</key>
	<string>my-shopping-list-dev-9c3c9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:440960456561:ios:a7f7a87e1879f727e808d0</string>
</dict>
</plist>